<p>Layout with <a href="http://getbootstrap.com/" title="Bootstrap">Bootstrap</a></p>

<p>Production with <a href="http://middlemanapp.com/" title="Middleman">Middleman</a></p>

<p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>&nbsp;Jean-Olivier Irisson, 2013-<%= Time.now.strftime('%Y') %>.</p>
