<p>Layout with <a href="http://getbootstrap.com/" title="Bootstrap">Bootstrap</a></p>

<p>Production with <a href="http://middlemanapp.com/" title="Middleman">Middleman</a></p>

<p>© Jean-Olivier Irisson, <%= Time.now.strftime('%Y') %> </p>
<!--
	TODO Add creative common license with dynamic URL change http://creativecommons.org/choose/
-->