---
title: Jean-Olivier Irisson
stub: Maître de conférence, Université Paris VI, Observatoire de Villefranche
navigation:
  title: Home
---

I am [Maître de Conférences](http://en.wikipedia.org/wiki/Maître_de_conférence) (i.e. Associate Professor) at the [Laboratoire d'Océanographie de Villefranche](http://www.obs-vlfr.fr/LOV/ "Laboratoire d'Ocanographie de Villefranche") (LOV), in Southern France. My time is split between [research](research) and [teaching](teaching). I study physical-biological interactions in the open ocean and how the behaviour of organisms influences those interactions. I have been largely focussing on the larval phase of fish, but I am also working on the "planktonic" community as a whole. I use modelling, data collection, and experiments to answer my questions. I teach marine ecology, behavioural ecology, as well as a lot of statistics and programming.

<!-- Start of actual content -->
<%
def p(name)
  #
  # Method/function to display a page and possibly a list of links to its descendants
  #

  # find the corresponding page
  res = sitemap.find_resource_by_path(name + ".html")

  # 2 situations:
  # - the page is a lone page, with no folder of the same name; in that case, just render it in place
  # - there is a folder with the same name as the page, which contains other pages (i.e. files rendered into html); in that case render it in place but also make a list of links to the child pages
  has_children = res.children.select { |child| child.path =~ /\.html/ }.any?

  out = ""

  # show the title
  out = out + "<h3>" +
        # ( has_children ? "" : "<a href='" + res.url + "'>" ) +  # only make it into a link if it does not have children
        "<a href='" + res.url + "'>" +
        ( res.data.title || res.url ) +
        # ( has_children ? "" : "</a>" ) +
        "</a>" +
        "</h3>\n"
  # and stub, if any
  # if res.data.stub
  #   out = out + "<p>" + res.data.stub + "</p>\n"
  # end

  # show the content
  out = out + res.render({layout: false})

  # if there are children, create a list of them
  if has_children
    out = out + "<ul class='page_list'>\n"
    res.children.select { |child| child.path =~ /\.html/ }.each do |child|
      out = out + "<li class='page_list'>"
      out = out + "<a class='page_list' href='" + child.url + "'>" + ( child.data.title || child.url ) + "</a>&nbsp;" + ( child.data.stub || "" )
      out = out + "</li>\n"
    end
    out = out + "</ul>\n"
  end

  return out
end
%>

<%= p("research") %>

<%= p("projects") %>
